<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <title>Erreur</title>
  </head>
  <body class="p-5">

    <h1 class="mb-5 text-center">{{ error }}</h1>
    
    <a href='/' style="color:white" class="btn btn-primary mt-3" >Accueil</a>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>